/* columns */
.col {
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline-block;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    vertical-align: top;
}

/* rows */
.row {
    font-size: 0px;
}

/* the div */
#board {
    border: 1px solid #000000;
    display: inline-block;
}

/* body */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/*when the columns are hidden */
.col.hidden {
    background-color: white;
    cursor: cell;
}

/* hovring color */
.col.hidden:hover {
    background-color: orange;
}

/* delet the line in last row */
.row:last-child .col {
    border-bottom: none;
}

/* delet the line in last column */
.row .col:last-child { 
    border-right: none;
}

/* bizz */

.col.hidden.mine {
    background-color: red;
}